@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at center, rgb(35, 50, 75) 0%, rgba(0, 0, 0, 1.0) 100%);
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
}

button {
    height: fit-content;
    cursor: pointer;
    color: #022b3c;
    background-color: white;
}

button:hover, .todoInput button:hover {
    color: white;
    background-color: #022b3c;
}

.main {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color: white;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-bottom: 10px;
}

.todoInput input {
    width: 250px;
    font-family: inherit;
    border: none;
    border-bottom-left-radius: 10px;
    padding: 10px;
    outline: none;
}

.todoInput button {
    color: black;
    font-family: inherit;
    border: none;
    padding: 10px;
    border-top-right-radius: 10px;
}

.todoList {
    display: flex;
    flex-direction: column;
}

.todoList i {
    color: #c9d1c8;
    cursor: pointer;
}

.todoList .fa-pen-to-square {
    color: #5b7065;
}

.todoList button {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.inputTodo {
    display: flex;
}

.inputTodo textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
}

textarea:focus {
    box-shadow: 0 0 5px white;
}

.editInput {
    display: flex;
    gap: 5px;
}

.updateInput {
    display: none;
}

@media(max-width: 768px) {
    .main {
        width: 95%;
        text-align: center;
    }

    .title {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .todoInput {
        display: flex;
    }

    .todoInput input {
        width: 300px;
    }

}